.flashrank_cache*
podcasts/
.env
node_modules/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md
start_dev.sh